 //* VARIABLES
 $primary-color: #7D5FFF;
 $secondary-color: #1A202C;
 $white: #F7F7F7;
 $dark-bg: #1D2430;
 $body-text: 18px;
 $body-text-md: 12px;
 $body-text-lg: 14px;
 $big-title: 90px;
 $section-title: 30px;
 $project-title: 24px;
 $box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
 $border-radius: 5px;
 $border-hover: 2px solid $primary-color;
 $font: 'Poppins',
 sans-serif;
 $transitions: all ease .4s;
 $border: 2px solid $primary-color;
 $body-line-height: 1.5em;
 $heading-line-height: 1em;
 $bold: bold;